<%= render Dashboard::Layout.new(active: :dashboard) do %>
  <div data-controller="sortable" class="py-20 lg:grid sm:grid-cols-3 sm:gap-5">
    <%= render Dashboard::TasksList.with_collection(@stages) %>
  </div>
<% end %>