<%= render Dashboard::Layout.new(active: :dashboard) do %>
  <div class="flex min-h-screen py-5 overflow-x-auto sm:grid sm:grid-cols-3 sm:py-10 sm:gap-14 px-1">
    <%= render Dashboard::TasksList.with_collection(@stages) %>
  </div>
<% end %>