<div class="flex items-center">
  <%= form.radio_button field, value, checked: checked, class: "h-4 w-4 border-gray-300 text-indigo-600 focus:ring-indigo-600" %>
  <%= form.label "#{field}_#{value}", label, class: "ml-2 block text-sm font-medium leading-6 text-gray-900" %>
</div>
