<div>
  <label class="block text-sm font-medium leading-6 text-gray-900"> <%= label %> </label>
  <fieldset class="mt-1">
    <div class="flex items-center space-x-5 sm:space-x-10">
      <%= content %> 
    </div>
  </fieldset>
</div>
